*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: url(./backgroundimg.jpg);
    
}
nav{
    height: 100px;
    width: 100%;
    background-color: rgb(3, 0, 101);
}
label.name{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-left: 100px;
    line-height: 100px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav li{
    margin-left: 20px;
    display: inline-block;
    line-height: 100px;
}
nav a{
    color: white;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 7px 10px;
}
a:hover{
    border: 2px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 100px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}

@media (max-width: 1048px) {
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: -100;
        text-align: center;
        transition: all -5;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover{
        color: #3498db;
        border: none;
    }
}

.cardMain{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardMain2{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.one{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}

.two{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}
.three{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}
.four{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}
.five{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}
.six{
    background-color: rgba(0, 104, 169, 0.895);    
    height: calc(78vh);
    width: calc(30vw);
}
a{
    color: white;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
#modalBg{
    background-color: rgba(0, 0, 0, 0.55);
    height: calc(100vh);
    width: calc(100vw);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
}
#modalBox{
    background-color: white;
    height: calc(80vh);
    width: calc(70vw);
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 15%;
}
.close{
    font-size: 20px;
    float: right;
    background-color: rgb(255, 106, 0);
    color: white;
    width: 4%;
    height: 7%;
    cursor: pointer;
}
.close:hover{
    border: none;
}
#extendedPara{
    display: none;
}
#extendedPara2{
    display: none;
}